<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS  DASH와 충돌하여 사용안함.-->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!--jquery js-->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <!-- Bootstrap JS DASH 와 충돌하여 사용안함.-->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>        

    <title>Hello</title>
</head>
<body>

    <!-- 네비게이션바 -->
    {% include "navbar_themore.html" %}    

    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %}
    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->

    <!-- 자바스크립트 Start -->
    {% block script %}
    {% endblock %}
    <!-- 자바스크립트 End -->

</body>
</html>